<a href="https://colab.research.google.com/github/NeerajaJayanthy/Data-Visualisation-using-python/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

set_index

In [ ]:
import pandas as pd
data={'Country':['India','USA','Germany'],'Population':[1.3,0.33,0.08]}
df=pd.DataFrame(data)

#inplace=True means data is corrected within the dataframe
# new_df=df.set_index('Country',inplace=True)
# print(new_df)
# print(df)

#inplace=false means a new dataframe is created in which correction is made
new_df1=df.set_index('Country',inplace=False)
print(new_df1)
print(df)

         Population
Country
India          1.30
USA            0.33
Germany        0.08
   Country  Population
0    India        1.30
1      USA        0.33
2  Germany        0.08

index_col

In [ ]:
import pandas as pd
from google.colab import files
upload=files.upload()
df=pd.read_csv('sales_data.csv',index_col='Product')
print(df.head())

Saving sales_data.csv to sales_data (1).csv
        Region  Year  Quarter  Revenue
Product
A        North  2021        1    10000
B        South  2021        2    15000
C         East  2021        3    12000
A         West  2021        4    13000
B        North  2022        1    14000

sort_values

In [ ]:
import pandas as pd
data={'Country':['India','India','USA','Germany','Germany','USA'],'Population':[1.3,0.33,0.08,1.5,1.7,0.5]}
df=pd.DataFrame(data)
# sorted_df=df.sort_values(by='Country',ascending=True)
# sorted_df=df.sort_values(by=['Country','Population'],ascending=[True,False])
sorted_df=df.sort_values(by=['Country','Population'],ascending=[False,True])
print(sorted_df)

   Country  Population
2      USA        0.08
5      USA        0.50
1    India        0.33
0    India        1.30
3  Germany        1.50
4  Germany        1.70

isin()

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "AGE":[24,25,32,27,25],
      "Department":['HR','Sales','Finanace','Engineering','Marketing']}

df=pd.DataFrame(data)
selected_dept=['HR','Sales','27']
filtered=df[df.isin(selected_dept)]
print(filtered )

  name  AGE Department
0  NaN  NaN         HR
1  NaN  NaN      Sales
2  NaN  NaN        NaN
3  NaN  NaN        NaN
4  NaN  NaN        NaN

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "Age":[24,25,32,27,25],
       "Score":[84,27,75,64,84]}

df=pd.DataFrame(data)
selected_dept=['HR','Sales']
filtered=df[(df["Age"]>25)& (df["Score"]>28)]
print(filtered)

      name  Age  Score
2  Charlie   32     75
3    David   27     64

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "Age":[24,25,32,27,25],
       "Score":[84,27,75,64,84]}

df=pd.DataFrame(data)
selected_dept=['HR','Sales']
filtered=df[(df["Age"]>25)| (df["Score"]>28)]
print(filtered)

      name  Age  Score
0    Alice   24     84
2  Charlie   32     75
3    David   27     64
4      Eve   25     84

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "Age":[24,25,32,27,25],
       "Score":[84,27,75,64,84]}

df=pd.DataFrame(data)
selected_dept=['HR','Sales']
filtered=df[~(df["Age"]>25)]
print(filtered)

    name  Age  Score
0  Alice   24     84
1    Bob   25     27
4    Eve   25     84

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "Age":[24,25,32,27,25],
       "Score":[84,27,75,64,84]}

df=pd.DataFrame(data)
selected_dept=['HR','Sales',24]
# filtered=df[~(df["Age"]>25)&(df["Score"]>28)]
# filtered=df[~(df["Age"]>25)|(df["Score"]>28)]
filtered=df[~(df["Age"]>25).isin(selected_dept)]
print(filtered)

      name  Age  Score
0    Alice   24     84
1      Bob   25     27
2  Charlie   32     75
3    David   27     64
4      Eve   25     84

isna() and notna()

In [ ]:
import pandas as pd
data={"name":['Alice','Bob','Charlie','David','Eve'],
      "Age":[24,25,32,27,25],
       "Score":[84,27,75,64,84]}

df=pd.DataFrame(data)
filtered=df[df["Age"].isna()]
print(filtered)

filtered1=df[df["Age"].notna()]
print(filtered1)

Empty DataFrame
Columns: [name, Age, Score]
Index: []
      name  Age  Score
0    Alice   24     84
1      Bob   25     27
2  Charlie   32     75
3    David   27     64
4      Eve   25     84

In [2]:
#loc allows you to access rows and columns by labels
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','David'],'Age':[25,30,35,40],'Score':[23,34,56,78],"City":['New York','San Fransisco','Texas','Cambridge']})
print(df)
a=df.loc[[0,2],"Name"]
print (a)

      Name  Age  Score           City
0    Alice   25     23       New York
1      Bob   30     34  San Fransisco
2  Charlie   35     56          Texas
3    David   40     78      Cambridge
0      Alice
2    Charlie
Name: Name, dtype: object

In [6]:
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','David'],'Age':[25,30,35,40],'Score':[23,34,56,78],"City":['New York','San Fransisco','Texas','Cambridge']})
#TAKE NAME AS ROW COLUMN USING set index and display city for a person
print(df)
newdf = df.set_index('Name',inplace=False)
print(newdf)
print(newdf.loc['Alice','City'])
print (newdf.loc[['Alice','Bob'],['City','Score']])

      Name  Age  Score           City
0    Alice   25     23       New York
1      Bob   30     34  San Fransisco
2  Charlie   35     56          Texas
3    David   40     78      Cambridge
         Age  Score           City
Name
Alice     25     23       New York
Bob       30     34  San Fransisco
Charlie   35     56          Texas
David     40     78      Cambridge
New York
                City  Score
Name
Alice       New York     23
Bob    San Fransisco     34

In [5]:
#between method
#shorthand to check a range of values
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','David'],'Age':[25,20,35,40],'Score':[23,34,56,78],"City":['New York','San Fransico','Texas','Cambridge']})
print(df)
a=df['Age'].between(20,30)
print(a)
b=df[df['Age'].between(20,35)]
print(b)
print(b.loc[:,['Name','City']])

      Name  Age  Score          City
0    Alice   25     23      New York
1      Bob   20     34  San Fransico
2  Charlie   35     56         Texas
3    David   40     78     Cambridge
0     True
1     True
2    False
3    False
Name: Age, dtype: bool
      Name  Age  Score          City
0    Alice   25     23      New York
1      Bob   20     34  San Fransico
2  Charlie   35     56         Texas
      Name          City
0    Alice      New York
1      Bob  San Fransico
2  Charlie         Texas

In [4]:

#simply typing df[Age] returns it as an series
#on doing a condition check on a series it returns a boolean series
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','David'],'Age':[25,20,35,40],'Score':[23,34,56,78],"City":['New York','San Fransisco','Texas','Cambridge']})
a=df['Age']
print(a)
#filtering data where age >25
b=df['Age']>25
print(b)#this returns a boolea dataframe
#using the boolean series to filter the data in dataframe
c=df[b]
print(c)
#or together you can do the above operation
d=df[df['Age']>25]
print(d)

0    25
1    20
2    35
3    40
Name: Age, dtype: int64
0    False
1    False
2     True
3     True
Name: Age, dtype: bool
      Name  Age  Score       City
2  Charlie   35     56      Texas
3    David   40     78  Cambridge
      Name  Age  Score       City
2  Charlie   35     56      Texas
3    David   40     78  Cambridge

In [3]:
#iloc:integer based indexing method to select rows and columns by their integer position
#slicing is available with iloc
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','David'],'Age':[25,30,35,40],'Score':[23,34,56,78],"City":['New York','San Fransisco','Texas','Cambridge']})
print(df)
print("Single value printing",df.iloc[[1,2]])
print("Using slicing",df.iloc[0:2,0:2])
print("Using multiple values",df.iloc[[0,2],[1,3]])
print("Printing all rows",df.iloc[:,[1,2]])
print("Printing all columns",df.iloc[[1,2],:])

      Name  Age  Score           City
0    Alice   25     23       New York
1      Bob   30     34  San Fransisco
2  Charlie   35     56          Texas
3    David   40     78      Cambridge
Single value printing       Name  Age  Score           City
1      Bob   30     34  San Fransisco
2  Charlie   35     56          Texas
Using slicing     Name  Age
0  Alice   25
1    Bob   30
Using multiple values    Age      City
0   25  New York
2   35     Texas
Printing all rows    Age  Score
0   25     23
1   30     34
2   35     56
3   40     78
Printing all columns       Name  Age  Score           City
1      Bob   30     34  San Fransisco
2  Charlie   35     56          Texas